.overlay {  
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:1000;
      }
      
      .normal {
        width:100%;
      }

      .titlePage{
        text-align: center;
        margin-top: 10px;
      }

      .listGeolocation{ 
        height: 20px;
        line-height: 20px;
      }

      .titleProperty{   
      }

      #divListProperty{
        display: none;
      }

      #listProperty{
        margin:20px 0px 0px 0px;
        background-color: #C4BBBE;
        border: 1px solid #C4BBBE;
        border-radius: 15px;
        display: block;
      }

      #mapImage{
        margin:20px 0px 0px 0px;
        width:287px;
        height:200px;
        border-radius:20px;
        border: 1px solid #C4BBBE;
      }

      #facebookOptions{
        width:30px;
        height:30px;
        margin:0px;
        position:absolute;
        left:5px;
        top:6px;
        float:left;
      }